<nav>
    <ul>
      <li><a href="/_site/index.html" title="Home">Home</a></li>
      <li><a href="/site/phone.html/" title="Phone">Phone</a></li>
      <li><a href="/site/wallet.html/" title="Wallet">Wallet</a></li>
      <li><a href="/site/keys.html/" title="Keys">Keys</a></li>
    </ul>
  </nav>